# Assignment 4

**Please follow the instructions**

In [60]:
import datetime
import socket

# Get local time
local_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Get computer ID or hostname
computer_id = socket.gethostname()

# Print output with local time and computer ID
print('Assignment 1 & 2: Solutions by Ethan') # Please change your name here
print('Local Time:', local_time)
print('Computer ID:', computer_id)

Assignment 1 & 2: Solutions by Ethan
Local Time: 2023-07-03 17:27:45
Computer ID: hcm-Thong

# Objective

The goal of this project to extract World populattion by countries. 
Please extarct data from the following data sources: 

- List of independent and dependency countries: 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'. 
- List of UN recognized countries: 'https://en.wikipedia.org/wiki/List_of_sovereign_states'

# ETL

Task 1:
- Read the first datasets and display the first 4 rows.
- Convert the data types accordingly (e.g., float, string, integer) and perform data cleaning if necessary.
- If the population is given in millions (e.g., Azerbaijan Population 10,000,000), divide it by 1,000,000 to represent it as 10.0.

Task 2:
- Read the second dataframe and display the first 4 rows.
- Adjust the data types of the second dataframe as needed.

Task 3:
- Merge dataframe 1 and dataframe 2 based on the country name. Ensure that the countries have the same name and can be merged together. You can use the following command: `pd.merge(df2, df1, on='Country', how='inner')`.

Task 4:
- Save the merged dataframe as a CSV file and submit it. Include only the 'Country' and 'Population' columns, excluding any other columns.

Please submit the dataset before our class on Tuesday, as I will utilize it for data visualization purposes. You can also upload the dataset to your GitHub account. I will choose the cleanest and correct dataset for our next training.

In [61]:
# Task 1
import pandas as pd

# Extract
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

df1 = pd.read_html(url1)[1]

df1.head(4)

#url2 = 'https://en.wikipedia.org/wiki/List_of_sovereign_states'
#df2 = pd.read_html(url2)[1]
#df2

# Transform
df1.info()

df1['Country / Dependency'] = df1['Country / Dependency'].astype('string')
df1['Population'] = df1['Population'].astype('float')
df1["% of world"] = df1["% of world"].astype('string')
df1['Date'] = df1['Date'].astype('string')
df1['Source (official or from the United Nations)'] = df1['Source (official or from the United Nations)'].astype('string')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country / Dependency                          242 non-null    object
 2   Population                                    242 non-null    int64
 3   % of world                                    1 non-null      object
 4   Date                                          242 non-null    object
 5   Source (official or from the United Nations)  242 non-null    object
 6   Unnamed: 6                                    31 non-null     object
dtypes: int64(1), object(6)
memory usage: 13.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country / Dependency                          242 non-null    string
 2   Population                                    242 non-null    float64
 3   % of world                                    1 non-null      string
 4   Date                                          242 non-null    string
 5   Source (official or from the United Nations)  242 non-null    string
 6   Unnamed: 6                                    31 non-null     object
dtypes: float64(1), object(2), string(4)
memory usage: 13.4+ KB

In [62]:
for i in range(len(df1)):
    df1.loc[i,'Population'] = df1.loc[i,'Population'] / 1000000

In [63]:
df1

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,–,World,8045.795000,100%,3 Jul 2023,UN projection[3],NaN
1,1,China,1411.750000,<NA>,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392.329000,<NA>,1 Mar 2023,Official projection[5],[c]
3,3,United States,335.005000,<NA>,3 Jul 2023,National population clock[7],[d]
4,4,Indonesia,277.749853,<NA>,31 Dec 2022,Official estimate[8],NaN
...,...,...,...,...,...,...,...
237,–,Tokelau (NZ),0.001647,<NA>,1 Jan 2019,2019 Census [226],NaN
238,–,Niue,0.001549,<NA>,1 Jul 2021,National annual projection[101],NaN
239,–,Cocos (Keeling) Islands (Australia),0.000593,<NA>,30 Jun 2020,2021 Census[227],NaN
240,195,Vatican City,0.000246,<NA>,26 Jun 2023,Monthly national estimate[228],[af]
241,–,Pitcairn Islands (UK),0.000047,<NA>,1 Jul 2021,Official estimate[229],NaN

Task 2

In [65]:
url2 = 'https://en.wikipedia.org/wiki/List_of_sovereign_states'
df2 = pd.read_html(url2)[1]
df2.head(4)

,Common and formal names,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f]
0,Afghanistan,UN member state,NaN,"The de facto ruling government, the Islamic Em..."
1,Albania – Republic of Albania,NaN,NaN,NaN
2,Algeria – People's Democratic Republic of Algeria,NaN,NaN,NaN
3,Andorra – Principality of Andorra,NaN,NaN,Andorra is a co-principality in which the offi...

In [66]:
df2.info()

df2['Common and formal names'] = df2['Common and formal names'].astype('string')
df2['Membership within the UN System[c]'] = df2['Membership within the UN System[c]'].astype('boolean')
df2['Sovereignty dispute[d]'] = df2['Sovereignty dispute[d]'].astype('boolean')
df2['Further information on status and recognition of sovereignty[f]'] = df2['Further information on status and recognition of sovereignty[f]'].astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Common and formal names                                          195 non-null    object
 1   Membership within the UN System[c]                               3 non-null      object
 2   Sovereignty dispute[d]                                           7 non-null      object
 3   Further information on status and recognition of sovereignty[f]  95 non-null     object
dtypes: object(4)
memory usage: 6.2+ KB